@model IEnumerable<SpacedRepetition.Models.Card>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardFront)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardBack)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardFront)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardBack)
            </td>
            <td>
                @Html.ActionLink("Review", "Review", new { deckId = item.Deck.Id, cardId = item.Id })
            </td>
        </tr>
    }

</table>